/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/

body{
  font-family: 'Cabin', 'Sawarabi Gothic', sans-serif;
}

.font-sm{
  font-size: 14px;
}

.font-md{
  font-size: 17px;
}

.font-lr{
  font-size: 17px;
}

.font-lg{
  font-size: 25px;
}